.reviews-section {
  background-color: #606c5b;
}
.reviews-title {
  margin-top: 0;
  color: #fff;
  display: flex;
  justify-content: center;
}

.testimonial {
  margin: 50px 30px 30px 30px;
  text-align: center;
  position: relative;
}
.testimonial .description {
  padding: 30px;
  margin-bottom: 80px;
  border-left: 1px solid #fff;
  font-size: 15px;
  color: #fff;
  line-height: 33px;
  position: relative;
}
.testimonial .description:before,
.testimonial .description:after {
  content: "";
  width: 20%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.testimonial .description:after {
  top: auto;
  bottom: 0;
}
.testimonial .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 15px 0;
  position: relative;
  margin: 0 auto;
}
.testimonial:before,
.testimonial .title:before {
  content: "";
  width: 1px;
  height: 50px;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}
.testimonial .title:before {
  top: -80px;
}

.testimonial .pic {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.testimonial .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
